<div class="meet-michael"
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onAppear($event)"
>
    <h3 [ngClass]="{'hidden': true, 'showSlow': show}">Meet Michael.</h3>
    <p [ngClass]="{'hidden': true, 'showSlow': show}">Michael Aziz has extensive experience advising elected government officials (national and foreign), senior executives, and business owners. Michael brings a unique perspective to his craft.</p>
    <p [ngClass]="{'hidden': true, 'showSlow': show}">He has worked in various ministries and departments across different levels of government, advocated for businesses in the private sector, and has vast experience in politics where he managed political campaigns and even ran for public office.</p>
    <p [ngClass]="{'hidden': true, 'showSlow': show}">Most recently, he was Head of Government Relations for a company in the transportation sector.  There, he provided legal and regulatory advice to senior executives and investor partners, successfully expanding across complex regulatory markets in North America, including: New York, Toronto, Chicago, Vancouver and Washington. He was also responsible for strategic communications, brand reputation, and strengthening relationships with stakeholders across sectors.</p>
    <p [ngClass]="{'hidden': true, 'showSlow': show}">Community service is extremely important for Michael. For the past 15 years, he has served as the Director of an organisation assisting over 150 at-risk youth, helping them realise their fullest human potential. Over the years, he has also volunteered with many organisations, including the Canadian Red Cross.</p>
    <p [ngClass]="{'hidden': true, 'showSlow': show}">Michael holds Master’s degrees in Political Science and Public Policy. He is proficient in English, French, Arabic, and is currently learning Italian.</p>
</div>