<div class="landing" id="home">
  <div class="landing-overlay"></div>
  <div class="landing"  
  inViewport
  [inViewportOptions]="{ threshold: [0] }"
  (inViewportAction)="onShowLanding($event)">
  <div class="landing-top">
    <div class="top">
      <h1 class="company-name"
      [ngClass]="{'hidden': true, 'show': showLanding}"
      (click)="onLogoClick()"
      >Insightful Strategies</h1>
      <button 
      [ngClass]="{'hidden': true, 'show': showLanding, 'btn': true}"
      (click)="goToContact()">Contact Us</button>
    </div>
    <div class="middle">
      <h2
      [ngClass]="{'hidden': true, 'show': showLanding}"
      >Trustworthy and Insightful.</h2>
      <p [ngClass]="{'hidden': true, 'show': showLanding}"> Working with us means unlocking new opportunities. </p>
    </div>

    <div class="bottom hide">
      <button 
      [ngClass]="{'hidden': true, 'show': showLanding, 'btn': true}"
      (click)="goToContact()">Contact Us</button>
    </div>
    </div>
    <div class="landing-bottom">
        <h3
        [ngClass]="{'hidden': true, 'show': showLanding}"
        >We equip clients with deep insight into volatile political contexts, complex government structures and processes, and when necessary, we advocate on their behalf in front of governments.</h3>
        <p
        [ngClass]="{'hidden': true, 'show': showLanding}"
        >Insightful Strategies works with small businesses, large corporations, not-for-profits, and startups to achieve positive results across all levels of government in Canada and the United States. We bring deep experience and professionalism to every case and provide bespoke services to your unique needs.</p>
    </div>
</div>
</div>

<div class="main-content">
  <app-about></app-about>
  <app-areas-of-practice></app-areas-of-practice>
  <app-meet-michael> </app-meet-michael>
  <app-contact id="contact"></app-contact>
</div>